.circle_btns {
    width: 395px;
}

button {
    height: 43px;
    width: 43px;
    border-radius: 10em;
    box-shadow: 5px 10px 18px #888888;
    border: none;
    color: #F5F5F9;
    margin-right: 45px;
}

button i {
    color: #BDBDBD;
    font-size: 1.5em;
}

button:hover {
    box-shadow: inset 4px 4px 4px #888888;
}

button:hover i {
    color: #5533EA;
}